/*  your css code here. If applicable */
:root{
	background-color: rgb(135, 206, 235);
}
p:first-child {
	background-color: black;
	color: white;
}
p:nth-child(2){
	color: rgb(0, 0, 255);
}
p:last-child{
	color: red;
}
li{
	width: 50vw;
	padding: 10px;
	background-color: gray;
}
ul li:nth-child(odd){
	background-color: white;
}
ul li:first-child, ul li:last-child{
	font-size: 22px;
}
ul li:nth-last-child(3){
	background-color: pink;
}